.centered
{
    text-align: centre;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}


Box model
https://www.w3schools.com/css/css_boxmodel.asp

Organizing CSS
BEM
https://css-tricks.com/bem-101/
