<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                    <input id="inputname" type="text" autocomplete=off autofocus placeholder="Name" name="name" required>
                    <input id="inputdate" type="date" name="date" required>
                    <button id="inputbutton" type="submit">Submit</button>
                <div id="response"></div>

            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="text">
                        <!-- TODO: Loop through the database entries to display them in this table -->

                        <script>
                            async function fetchlist(id) {

                                let response = await fetch('/returnlist'); // variable response, fetch route search?q= the input value
                                let birthdays = await response.text(); // grabbing text from server
                                let birthdayObj = JSON.parse(birthdays);
                                let months = ["JAN","FEB","MAR","APRIL","MAY","JUNE","JULY","AUG","SEP","OCT","NOV","DEC"];

                                let html = '';

                                for (let birthday of birthdayObj)
                                {
                                    if (id === undefined) || (id !== birthday.id)
                                    {
                                        html += `<tr>
                                                    <th>${birthday.name}</th><th>${birthday.day} ${months[birthday.month - 1]}</th>
                                                    <th>
                                                        <input type="hidden" name="id" value="${birthday.id}">
                                                        <button id="del${birthday.id}">Delete</button>
                                                       <button id="edit${birthday.id}">Edit</button>
                                                    </th>
                                                </tr>`
                                    }
                                    else
                                }
                                document.querySelector('#text').innerHTML = html;

                                // add listeners to all
                                for (let birthday of birthdayObj) {
                                    let strbutton_del = '#del'+birthday.id;
                                    let eventbutton_del = document.querySelector(strbutton_del);
                                    eventbutton_del.addEventListener('click', function() {
                                        delrecord(birthday.id);
                                    });

                                    let strbutton_edit = '#edit'+birthday.id;
                                    let eventbutton_edit = document.querySelector(strbutton_edit);
                                    eventbutton_edit.addEventListener('click', function() {
                                        fetchlist(birthday.id);

                                    });
                                };
                            }

                            async function addrecord(name, date) {
                                let strparam = '/add?name=' + name + '&date=' + date;
                                let response = await fetch(strparam); // variable response
                                let responset = await response.text();

                                document.querySelector('#response').innerHTML = responset;
                                fetchlist();
                            }

                            async function delrecord(id) {
                                let strparam = '/delete?id=' + id;
                                let response = await fetch(strparam); // variable response
                                let responset = await response.text();

                                document.querySelector('#response').innerHTML = responset;
                                fetchlist();
                            }

                            async function editrecord(id) {
                                // print out all rows as normal except for editing row

                            }

                            let inputbutton = document.querySelector('#inputbutton');
                            document.addEventListener('DOMContentLoaded', function() {
                                inputbutton.addEventListener('click', function() {
                                    let inputname = document.querySelector('#inputname');
                                    let inputdate = document.querySelector('#inputdate');
                                    addrecord(inputname.value, inputdate.value);
                                });
                            });

                            fetchlist();

                        </script>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
