{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form id="buyform">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Select Stock</button>
    <form>

    <script>
        let formEl = document.querySelector('#buyform');
        formEl.addEventListener('submit', async function(event) {
            event.preventDefault();

            const formdata = new FormData(formEl);
            const data = Object.FromEntries(formdata);

            let response = await fetch('/buy', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            });

            let responset = await response.text();
            let responseObj = JSON.parse(responset);

            if (responseObj == null)
                document.querySelector("#status").innerHTML = 'Symbol not found';
            else
            {
                if ('status' in responseObj)
                    document.querySelector("#status").innerHTML = responseObj['status'];

                if ('price' in responseObj)
                {
                    html = `SYMBOL : ${responseObj["symbol"]}, PRICE : ${responseObj["price"]}<br>` + html;

                    document.querySelector("#status").innerHTML = '';
                    document.querySelector("#result").innerHTML = html;
                }
            }
        });


    </script>


{% endblock %}
