{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form id="buyform">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Select Stock</button>
    </form>

    <p></p>
    <p id="symbolstatus"></p>

    <p id="result"></p>


    <script>
        let formEl = document.querySelector('#buyform');
        html = '';

        formEl.addEventListener('submit', async function(event) {
            event.preventDefault();

            const formdata = new FormData(formEl);
            const data = Object.fromEntries(formdata);

            let response = await fetch('/buy', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            });

            let responset = await response.text();
            let responseObj = JSON.parse(responset);

            if (responseObj == null)
                document.querySelector("#symbolstatus").innerHTML = 'Symbol not found';
            else
            {
                if ('status' in responseObj)
                    document.querySelector("#symbolstatus").innerHTML = responseObj['status'];

                if ('price' in responseObj)
                {
                    html = `<table>
                                <col style="width:5%" />
                                <col style="width:20%" />
                                <col style="width:30%" />
                                <col style="width:30%" />
                                <col style="width:10%" />
                                <tr>
                                    <td> ${responseObj["symbol"]}</td>
                                    <td> Price per unit :  $ ${responseObj["price"]}</td>
                                    <td id="buytotal"></td>
                                    <td>
                                        <form id="buytransaction">
                                            <input id="buyauto" autocomplete="off" autofocus placeholder="0" name="shares" type="text">
                                            <input type="hidden" name="symbol" value="${responseObj['symbol']}">
                                            <button class="btn btn-primary" type="submit">Buy</button>
                                        </form>
                                    </td>
                                    <td id="buystatus"></td>
                                </tr>
                            </table>`;

                    document.querySelector("#result").innerHTML = html;

                    let autoEl = document.querySelector("#buyauto");
                    autoEl.addEventListener('input', async function() {
                        let totalbalance = await returnBalance();

                        // regex check
                        const pattern =  /^\d+$/;

                        if ((pattern.test(autoEl.value)) || (autoEl.value == '')) {

                            if (autoEl.value == '')
                                n = 0;
                            else
                                n = autoEl.value;
                            let price = responseObj["price"];

                            buyTotalDisplay (price, n, totalbalance);
                            document.querySelector("#buystatus").innerHTML = ""
                        }
                        else
                            document.querySelector("#buystatus").innerHTML = "Input must be strictly numeric"
                    });

                    let formEl = document.querySelector("#buytransaction");
                    formEl.addEventListener('submit', async function(event) {
                        const formdata = new FormData(formEl);
                        const data = Object.fromEntries(formdata);

                        let response = await fetch('\buy', {
                            method="POST",
                            headers={"Content-Type":"application/json"},
                            body=JSON.stringify(data)
                        });


                    }

                }
            }
        });


    </script>


{% endblock %}
