{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <col style="width:25%" />
        <col style="width:15%" />
        <col style="width:15%" />
        <col style="width:15%" />
        <col style="width:10%" />
        <col style="width:10%" />

        <thead>
            <tr>
                <td>Symbol</td>
                <td>Transaction</td>
                <td>Transaction Unit Price</td>
                <td>Transaction Shares</td>
                <td>Date</td>
                <td>Time</td>
            </tr>
        </thead>

        <tbody>

        </tbody>


    </table>

{% endblock %}
