{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <tableinsert id="ho"></tableinsert>

    </table>

    <script>

        document.addEventListener('DOMContentLoaded', async function() {
            let reply = await fetch('/');
            let replyt = await reply.text();
            let replyObj = JSON.parse(replyt);
            console.log(replyObj['status']);

            html = `utoseurosur`;

            document.querySelector("#ho").innerHTML = `sdsd`;
        });

//        document.querySelector("#ho").innerHTML = `sdsd`;


    </script>

{% endblock %}

