{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <tableinsert></tableinsert>

    </table>

    <script>

        async function fetchpage() {
            let reply = await fetch('/', {method:"POST"});
            let replyt = await reply.text();
            let replyObj = JSON.parse(replyt);

            html = '';

            for (let obj of replyObj)
                html += `<td>${obj[]}</td>
                        <td></td>
                        <td></td>`

            document.querySelector("tableinsert").innerHTML = replyObj['status'];
        }

        fetchpage();


    </script>

{% endblock %}

