{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <col style="width:20%" />
        <tableinsert id="ho"></tableinsert>

    </table>

    <script>

        document.addEventListener('DOMContent_Loaded', async function fetchpage() {
            let response = await fetch('/');
            let responset = await response.text();
            let responseObj = JSON.parse(responset);
            html = `utoseurosur`;

            document.querySelector("#ho").innerHTML = html;
        });


        fetchpage();
        document.querySelector("#ho").innerHTML = `sfdf`;


    </script>

{% endblock %}

