{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form id="loginform">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <p></p>
    <p id="status"></p>

    <script>
        let formEl = documentSelector("#loginform");
        formEl.addEventListener('submit', async function(event){

            const formdata = new FormData(formE1);
            const data = Object.FromEntries(formdata);

            let response = await fetch('/logincheck', {
                method: "POST",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify(data)
            });

            let responset = await response.text();
            let responseObj = JSON.parse(responset);

            if responseObj['status'] == 'redirect'
                window.location.href = "/";
            else
                document.querySelector('#status').innerHTML = responseObj['status'];
        });
    </script>

{% endblock %}
