{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <form id="quote">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Check Stock Price</button>
    </form>

    <p></p>
    <p></p>

    <p id="result"></p>

    <script>
        let formEl = document.querySelector('#quote');
        formEl.addEventListener('submit', async function(event) {
            event.preventDefault();

            const formdata = new FormData(formEl);
            const data = Object.fromEntries(formdata);

            let response = await fetch('/quoted', {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data)
            });
            let responset = await response.text();
            let responseObj = JSON.parse(responset);

            html = '';
            console.log(responseObj['status'])

//            for (let obj of responseObj){
//                html += '

//            }
        });



    </script>

{% endblock %}
