{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form id="form">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Re-enter password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p id="status"></p>
    <script>

        let formEl = document.querySelector('#form');
        formEl.addEventListener('submit', event => {
            event.preventDefault();

            const formdata = new Formdata(formEl);
            const data = Object.FromEntries(fromdata);

            console.log(data);

            // fetch post
            let response = await fetch('/register', {
                method = "POST",
                headers = {"Content-Type" : "application/json"},
                body = JSON.stringify(data)
            });

            let responset = await response.text();
            let responseObj = JSON.parse(responset);
            document.querySelector('#status').innerHTML = responseObj.['status'];
        });

    </script>

{% endblock %}
