{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

        <div class="mb-3">
            <input id="regname" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input id="regpw" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input id="regcom" class="form-control mx-auto w-auto" name="confirmation" placeholder="Re-enter password" type="password">
        </div>
        <button id="regbutton" class="btn btn-primary" type="submit">Register</button>
    <p id="status"></p>
    <script>
        let reg = {}
        reg['name'] = document.querySelector('#regname').value;
        let regbutton = document.querySelector('#regbutton');
        regbutton.addListener("click", function() {

            document.querySelector("#status").innerHTML = reg['name'];
        });

    </script>
{% endblock %}
